body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3399FF;
}

h1{
    text-align: center;
}

.assignment {
  width: 22%;
  padding: 20px 10px;
  margin: 100px;
  flex: 1;
  display:flex
}

.assignment img {
  width:100px;
  margin:10px;
  border: 5px solid black;
  display:inline-flex;
  margin: 2px;
  
}


.container {
    position: relative;
    width: 500px;
    display:flex;
    flex-wrap: wrap;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 500px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }